@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-black-50: #f3f1f3;
  --color-black-100: #e7e4e7;
  --color-black-200: #d0c8d0;
  --color-black-300: #b8adb8;
  --color-black-400: #a092a0;
  --color-black-500: #887788;
  --color-black-600: #6d5f6d;
  --color-black-700: #524752;
  --color-black-800: #372f37;
  --color-black-900: #1b181b;
  --color-black-950: #131113;

  --color-crayola-blue-50: #e5edff;
  --color-crayola-blue-100: #ccdbff;
  --color-crayola-blue-200: #99b8ff;
  --color-crayola-blue-300: #6694ff;
  --color-crayola-blue-400: #3370ff;
  --color-crayola-blue-500: #004cff;
  --color-crayola-blue-600: #003dcc;
  --color-crayola-blue-700: #002e99;
  --color-crayola-blue-800: #001f66;
  --color-crayola-blue-900: #000f33;
  --color-crayola-blue-950: #000b24;

  --color-scarlet-rush-50: #fce9ea;
  --color-scarlet-rush-100: #f8d3d5;
  --color-scarlet-rush-200: #f2a6ab;
  --color-scarlet-rush-300: #eb7a81;
  --color-scarlet-rush-400: #e44e58;
  --color-scarlet-rush-500: #de212e;
  --color-scarlet-rush-600: #b11b25;
  --color-scarlet-rush-700: #85141b;
  --color-scarlet-rush-800: #590d12;
  --color-scarlet-rush-900: #2c0709;
  --color-scarlet-rush-950: #1f0506;

  --color-golden-pollen-50: #fff8e6;
  --color-golden-pollen-100: #fef1cd;
  --color-golden-pollen-200: #fee39a;
  --color-golden-pollen-300: #fdd568;
  --color-golden-pollen-400: #fdc835;
  --color-golden-pollen-500: #fcba03;
  --color-golden-pollen-600: #ca9502;
  --color-golden-pollen-700: #976f02;
  --color-golden-pollen-800: #654a01;
  --color-golden-pollen-900: #322501;
  --color-golden-pollen-950: #231a00;

  --color-alabaster-grey-50: #f2f3f2;
  --color-alabaster-grey-100: #e4e7e4;
  --color-alabaster-grey-200: #caceca;
  --color-alabaster-grey-300: #afb6af;
  --color-alabaster-grey-400: #959d95;
  --color-alabaster-grey-500: #7a857a;
  --color-alabaster-grey-600: #626a62;
  --color-alabaster-grey-700: #495049;
  --color-alabaster-grey-800: #313531;
  --color-alabaster-grey-900: #181b18;
  --color-alabaster-grey-950: #111311;

  --font-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
